
.suggest_container {  
    margin-top: 20px;  
    margin-left: 30px;
}

.suggest_header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.suggest_header p:nth-child(1) {
    font-weight: 600;
    color: #8e8e8e;
}

.see_all_button {
    cursor: pointer;
}

.suggest_profile {
    font-size: 13px;
    margin-top: 15px;
    font-weight: 500;
}

.suggest_profile, .suggest_profile > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggest_profile_img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.suggest_profile_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.suggest_profile_desc {
    color: #8e8e8e;
}

.suggest_follow_button {
    cursor: pointer;
    color: #0095f6;
}