
.layout {
    position: relative;
    z-index: 10;
    top: 60px;
    /* background-color: #fafafa; */
}
.section_container {
    display: flex;
    width: 100;
    margin-top: 12px;
    position: relative;
}

.left_container {
    /* background-color: blueviolet; */
    width: 620px;
    height: 200vh;
    margin: auto;
}

.right_container {
    position: relative;
    background-color: #fafafa;
    width: 330px;
    height: 100vh;
}    
.fixed_section {
    position: fixed;
    width: 330px;
}

@media screen and (max-width: 976px){
    .right_container{
        display: none;
    }
}